@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    height: 135px;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('./assets/doct-8.jpg');

}

.nabulaijar2{
    /* position: absolute; */
}

.bg-nabulaijar{
    position:absolute;
    border-radius: 50%;
    left: 635px;
    bottom: 30px;
    background-size: auto;
    background-repeat: no-repeat;
background-image: url('./assets/Nabulaij2.jpg');
}